<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
        <section id="luza_featured_product"
                 translate="label"
                 sortOrder="900"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Featured Product</label>
            <tab>general</tab>
            <resource>Luza_FeaturedProduct::config</resource>
            <group id="general"
                   translate="label"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General Settings</label>
                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="selection_type"
                       translate="label"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">

                    <label>Selection Type</label>
                    <source_model>Luza\FeaturedProduct\Model\Config\Source\SelectionType</source_model>
                     <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="product_sku"
                       translate="label"
                       type="text"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Product SKU</label>
                    <backend_model>Luza\FeaturedProduct\Model\Config\Backend\ProductSku</backend_model>
                    <comment>
                        Enter the SKU of the product to display on the homepage.
                    </comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="selection_type">sku</field>
                    </depends>
                </field>
                <field id="product_id"
                    translate="label"
                    type="select"
                    sortOrder="40"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1">
                    <label>Product</label>
                    <source_model>Luza\FeaturedProduct\Model\Config\Source\ProductList</source_model>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="selection_type">product</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>